$font-body: 'Cabin', sans-serif;
$font-headlines: 'Lobster', sans-serif;
$font-size-default: 18px;
$font-size-medium: 20px;
$font-size-footnote: 14px;
$break-point-large: 900px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size-default;
    line-height: 1.5;
    background: {
        image: url(../images/mtfuji.jpg);
        size: cover;
        attachment: fixed;
        repeat: no-repeat;
        position: center;
    }
}

body {
    font-family: $font-body;
}

h1,
h2,
h3,
h4 {
    font-family: $font-headlines;
    text-align: center;
}

h1 {
    font-size: $font-size-default * 2;
}

h2 {
    font-size: $font-size-default * 1.5;
}

#projects {
    max-width: calc((300px + 4rem) * 3);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    grid-gap: 2rem;
    justify-content: center;
}

.project {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: linear-gradient(to top, #ffffff 0%,#ccdae5 100%);
    border-radius: 2%;
    padding: 0.5rem;
    
    h2,
    p {
        margin: 0 0 0.5rem;
    }
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .footnote {
        font-size: $font-size-footnote;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: $breakpoint-large) {
    html {
        font-size: $font-size-medium;
    }
}